@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

@font-face {
    font-family: 'Architext';
    src: url("fonts/Architext.woff") format("woff"),
        url("fonts/Architext.ttf") format("truetype");
}

body {
    overflow: hidden;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top {
    align-items: flex-start;
}

.right {
    justify-content: flex-end;
}

.bottom {
    align-items: flex-end;
}

.left {
    justify-content: flex-start;
}

.head1 {
    background: black url(images/home.png) center / cover;
}

.head2 {
    background: black url(images/about.jpg) center / cover;
}

.head3 {
    background: black url(images/contact.jpg) center / cover;
}

.hidden {
    width: 280px;
    margin-left: 200px;
    font-family: "Cutive Mono", Courier, monospace;
}

.light-bg {
    background-color: rgba(0, 0, 0, 0.9);
    width: 170px;
}

.name {
    font-family: 'Architext', Courier, monospace;
    font-size: 45px;
    font-weight: 1000;
}

.name-down {
    font-family: 'Cutive Mono', Arial, sans-serif;
    font-size: 25px;
    font-weight: 1000;
    margin-left: 200px;
    margin-right: 200px;
}

.open {
    background-color: rgba(black, 0.86);
    height: 100%;
    width: 400px;
}

.from-top {
    top: 100px;
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .hidden {
        width: 170px;
        margin-left: 100px;
        font-size: 10px;
    }

    .name{
        font-size: 30px;
    }

    .email {
        font-size: 25px;
    }

    .name-down {
        font-size 15px;
        margin: 0;
    }

    .head1 {
        background: black url(images/home.png) center / cover;
    }

    .head2 {
        background: black url(images/about.jpg) center / cover;
    }

    .head3 {
        background: black url(images/contact.jpg) center / cover;
    }
}

@media (max-width: 768px) {
    .head1 {
        background: black url(images/home_mobile.png) center / cover;
    }

    .head2 {
        background: black url(images/about_mobile.jpg) center / cover;
    }

    .head3 {
        background: black url(images/contact_mobile.jpg) center / cover;
    }
}
