@font-face {
    font-family: 'Architext';
    src: url("fonts/Architext.woff") format("woff"),
         url("fonts/Architext.ttf")  format("truetype");
}

.hero {
  background: black url(images/background.png) center / cover;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
